
<div class="container">
  <div class="text-center">
    <h1>Restauripsters</h1>
    <%= link_to 'add restaurant', new_restaurant_path , class: 'btn btn-primary' %>
  </div>
  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-xs-12 col-sm-4">
        <div class="restaurant-card">
          <h5><%= link_to restaurant.name, restaurant_path(restaurant.id) %></h5>
          <p><%= restaurant.category %></p>
          <p><%= restaurant.address %>, <%= restaurant.phone %></p>
          <span class="add-a-review"><%= link_to 'Add a review', new_restaurant_review_path(restaurant) %></span>
        </div>
      </div>
    <% end %>

  </div>
</div>

